.ourDirSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 665px;
  position: relative;

  @include breakpoint(desktop) {
    max-width: 420px;
  }

  @include breakpoint(tablet) {
    max-width: 300px;
  }

  @include breakpoint(mobile-m) {
    max-width: 240px;
  }

  @include breakpoint(mobile) {
    max-width: 600px;
  }
}

.ourDirSection:nth-child(even) {
  margin-left: 128px;

  @include breakpoint(desktop-big) {
    margin-left: 0px;
  }

  @include breakpoint(desktop) {
    margin-left: 40px;
  }

  @include breakpoint(tablet) {
    margin-left: 0;
  }
}

.title {
  margin-bottom: 30px;

  color: #000;
  font-size: 40px;

  @include breakpoint(desktop) {
    margin-bottom: 20px;

    font-size: 34px;
  }

  @include breakpoint(tablet) {
    margin-bottom: 10px;

    font-size: 28px;
  }

  @include breakpoint(mobile-m) {
    font-size: 24px;
  }
}

.title::after {
  content: "";
  width: 23px;
  height: 23px;

  position: absolute;
  left: -40px;
  top: 10px;

  background: #335899;

  @include breakpoint(desktop) {
    top: 9px;
  }

  @include breakpoint(tablet) {
    width: 16px;
    height: 16px;

    left: -36px;
  }

  @include breakpoint(mobile-m) {
    left: -32px;
    top: 6px;
  }
}

.description {
  margin-bottom: 26px;

  color: #000;
  font-size: 20px;
  line-height: 42px;

  @include breakpoint(desktop) {
    margin-bottom: 30px;

    font-size: 18px;
  }

  @include breakpoint(tablet) {
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 36px;
  }
}
