.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrap {
  display: flex;
  padding-bottom: 80px;

  @include breakpoint(mobile-m) {
    padding-bottom: 60px;
  }
}

.title {
  color: #162249;
  font-size: 32px;

  @include breakpoint(mobile-m) {
    font-size: 24px;
    line-height: 24px;
  }

  &:hover {
    color: #335899;
  }

  &:active {
    opacity: 0.6;
  }
}

.closeBtn {
  position: absolute;
  right: 0;
  top: 0;

  padding: 13px;
  cursor: pointer;
}

.closeIcon {
  fill: #335899;
  width: 100%;
  height: 100%;

  &:hover {
    fill: #1f6bad;
  }
}
