.root {
  width: 100%;
  padding: 0 45px;
  margin-bottom: 80px;

  @include breakpoint(mobile) {
    padding: 0 20px;
  }
}

.title {
  width: 100%;
  max-width: 800px;
  margin-bottom: 90px;

  color: #000;
  font-size: 89px;
  line-height: 82px;

  @include breakpoint(desktop) {
    max-width: 700px;

    font-size: 72px;
  }

  @include breakpoint(tablet) {
    max-width: 600px;

    font-size: 62px;
    line-height: 82px;
  }

  @include breakpoint(mobile-m) {
    max-width: 400px;

    font-size: 40px;
    line-height: 46px;
  }
}

.awareWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.awareContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  cursor: pointer;
}

.imgWrap {
  width: 100%;
  height: 100%;
  border: 0px none #fff;
  border-radius: 28px;
}

.img {
  border: 0px none #fff;
  border-radius: 28px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;

  @include breakpoint(tablet) {
    font-size: 18px;
  }
  @include breakpoint(mobile-m) {
    font-size: 16px;
    line-height: 32px;
  }
  @include breakpoint(mobile) {
    font-size: 14px;
    line-height: 28px;
  }
}

.swiper {
  :global(.swiper-button-next) {
    background-image: url("/logo/arrowSwiper.svg");
    background-repeat: no-repeat;
    width: 44px;
    height: 16px;

    &::after {
      font-size: 0;
    }
  }
  :global(.swiper-button-prev) {
    background-image: url("/logo/arrowSwiper.svg");
    background-repeat: no-repeat;
    width: 44px;
    height: 16px;
    transform: rotate(-180deg);

    &::after {
      display: none;
      position: absolute;
      font-size: 0;
    }
  }
  :global(.swiper-button-disabled) {
    display: none;
  }
}
