.root {
  width: 100%;
  min-height: 100vh;
  padding: 80px 50px;

  .title {
    width: 100%;
    max-width: 700px;

    color: #000;
    font-size: 89px;
    line-height: 82px;
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .left {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 40px;
    }

    .right {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 910px;
      margin-left: 50px;
      padding: 38px 38px;

      border-radius: 57px;
      background-color: #162249;

      img {
        margin-bottom: 31px;
        width: 142px;
        height: 142px;
        object-fit: cover;

        border-radius: 142px;
        background: #d9d9d9;
      }

      .review {
        margin-bottom: 60px;
        width: 100%;

        color: #fff;
        font-size: 30px;
        line-height: 42px;
      }

      .author,
      .title {
        color: #eaddd0;
        font-size: 20px;
      }
    }
  }

  @include breakpoint(tablet) {
  }
}
