.root {
  height: 737px;
  padding: 50px;

  background-color: #162249;

  @include breakpoint(tablet) {
    padding: 40px;
  }
}

.logo {
  margin-bottom: 55px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
}

.title {
  color: #fff;
  font-size: 30px;
  line-height: 42px;

  @include breakpoint(tablet) {
    font-size: 26px;
  }
}

.company,
.include,
.address,
.tel,
.fax,
.mailTitle,
.mail,
.mailTo {
  margin-top: 42px;

  color: #fff;
  font-size: 20px;
  line-height: 42px;

  @include breakpoint(tablet) {
    margin-top: 32px;

    font-size: 16px;
  }
}

.company {
  max-width: 400px;
}

.address {
  max-width: 500px;
}

.fax,
.include {
  margin-top: 0;
}

.mail {
  display: flex;
}

.mailTo {
  margin-top: 0;
  text-decoration: underline;
  padding-left: 6px;

  transition: all 0.2s linear;

  &:hover {
    color: #335899;
  }

  &:active {
    opacity: 0.6;
  }
}

.right {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.data,
.info,
.map,
.policy {
  margin-top: 42px;

  color: #fff;
  font-size: 20px;
  line-height: 42px;

  @include breakpoint(tablet) {
    margin-top: 32px;

    font-size: 16px;
  }
}

.data,
.info,
.map {
  transition: all 0.2s linear;

  &:hover {
    color: #335899;
  }

  &:active {
    opacity: 0.6;
  }
}

.data {
  margin-top: 82px;
}

.policy:last-child {
  margin-top: 0;
}
