.root {
  height: 737px;
  padding: 50px;

  background-color: #162249;

  @include breakpoint(tablet) {
    padding: 40px;
    height: 630px;
  }

  @include breakpoint(mobile-m) {
    padding: 20px;
    height: 500px;
  }

  @include breakpoint(mobile) {
    padding: 10px;
    height: 100%;
    max-height: 600px;
  }
}

.logo {
  margin-bottom: 55px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
}

.title {
  color: #fff;
  font-size: 30px;
  line-height: 42px;

  @include breakpoint(tablet) {
    font-size: 26px;
  }

  @include breakpoint(mobile-m) {
    font-size: 20px;
  }
}

.company,
.include,
.address,
.telText,
.tel,
.faxText,
.fax,
.mailTitle,
.mail,
.mailTo {
  margin-top: 42px;

  color: #fff;
  font-size: 20px;
  line-height: 42px;

  @include breakpoint(tablet) {
    margin-top: 32px;

    font-size: 16px;
  }

  @include breakpoint(mobile-m) {
    margin-top: 32px;
    line-height: 24px;
    font-size: 14px;
  }

  @include breakpoint(mobile) {
    margin-top: 24px;
    font-size: 12px;
  }
}

.faxWrap,
.telWrap {
  display: flex;
}

.tel,
.fax {
  padding-left: 6px;
  &:hover {
    color: #335899;
  }
  &:active {
    opacity: 0.6;
  }
}

.company {
  max-width: 400px;
}

.address {
  max-width: 500px;
}

.faxText,
.fax,
.include {
  margin-top: 0;
}

.mail {
  display: flex;
}

.mailTo {
  margin-top: 0;
  text-decoration: underline;
  padding-left: 6px;

  transition: all 0.2s linear;

  &:hover {
    color: #335899;
  }

  &:active {
    opacity: 0.6;
  }
}

.right {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.data,
.info {
  margin-top: 42px;

  color: #fff;
  font-size: 20px;
  line-height: 42px;

  @include breakpoint(tablet) {
    margin-top: 32px;
    line-height: 24px;
    font-size: 16px;
  }

  @include breakpoint(mobile-m) {
    margin-top: 32px;

    font-size: 12px;
  }

  @include breakpoint(mobile) {
    margin-top: 24px;
  }
}

.data,
.info {
  transition: all 0.2s linear;

  &:hover {
    transition: text-decoration 0.1s linear;
    text-decoration: underline;
  }
  &:active {
    opacity: 0.6;
  }
}

.data {
  margin-top: 82px;

  @include breakpoint(mobile-m) {
    margin-top: 72px;
  }
}
