.ticker {
  height: 65px;
  position: relative;
  overflow: hidden;

  background-color: #eaddd0;
}

.wrap {
  display: -webkit-box;
  display: flex;
  align-items: center;

  width: calc(698.25px * 8);
  height: 100%;
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
}

.tickItm {
  text-align: center;
  padding: 0 25px;

  color: #000;
  font-size: 30px;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-698.25px * 4));
    transform: translateX(calc(-698.25px * 4));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-698.25px * 4));
    transform: translateX(calc(-698.25px * 4));
  }
}
