.aboutTextSection {
  width: 100%;
  max-width: 340px;
  margin-left: 4px;

  .subtitle {
    color: #335899;
    font-size: 20px;
  }

  .count {
    margin-top: 30px;

    color: #000;
    font-size: 50px;
  }

  .description {
    margin-top: 20px;
    color: #000;
    font-size: 20px;
    line-height: 42px;
  }
}

.aboutTextSection:nth-child(2) {
  max-width: 400px;
  margin-right: 27px;
}

.aboutTextSection:last-child {
  max-width: 800px;
  margin-top: 50px;
}
