.root {
  width: 100%;
  padding: 50px;

  position: fixed;
  z-index: 15;
  left: 0;
  top: 0;
  right: 0;

  transition: all 0.5s ease;
  transform: translateY(-100%);

  @include breakpoint(mobile-m) {
    padding: 0 0 20px;
  }

  &::after {
    opacity: 0;
    content: "";
    display: block;
    left: 0;
    top: -100px;
    bottom: 0;
    position: absolute;
    width: 100%;

    transition: 0.3s;
    z-index: -1;
    transition-delay: 0.33s;
    background: #162249;
  }
}

.fixed {
  transform: translateY(0%);
}

.root.darkened {
  &::after {
    opacity: 1;
  }
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  z-index: 15;

  @include breakpoint(mobile-m) {
    margin-top: 40px;
    padding: 0 40px;
  }

  @include breakpoint(mobile) {
    margin-top: 20px;
    padding: 0 20px;
  }
}

.logo {
  box-sizing: border-box;

  @include breakpoint(mobile) {
    width: 300px;
  }
}

.right {
  display: flex;
  align-items: center;

  @include breakpoint(mobile) {
    padding-right: 20px;
  }
}

.tel {
  padding-right: 63px;

  color: #fff;
  font-size: 25px;

  @include breakpoint(mobile-m) {
    padding-right: 36px;

    font-size: 20px;
  }

  @include breakpoint(mobile) {
    display: none;
  }
}

.burgerIcon {
  cursor: pointer;
}

.navRoot {
  position: fixed;
  right: 0;
  top: 0;

  width: 100%;
  height: 100vh;

  pointer-events: none;

  transition: all 0.5s ease;
  transform: translateY(-100%);
}

.opened {
  transform: translateY(0%);

  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;

  background-color: #fff;

  pointer-events: auto;

  @include breakpoint(mobile-m) {
    justify-content: start;
  }
}

.navScroll {
  height: 100%;
  overflow-y: scroll;
}

.navWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;

  @include breakpoint(mobile-m) {
    padding: 20px;
  }
}

.navItem {
  padding-bottom: 80px;

  @include breakpoint(mobile-m) {
    padding: 30px;
  }
}

.navTitle {
  color: #162249;
  font-size: 32px;

  cursor: pointer;

  @include breakpoint(mobile-m) {
    font-size: 24px;
    line-height: 24px;
  }

  transition: all 0.2s linear;

  &:hover {
    transition: border-bottom 0.1s linear;
    border-bottom: 2px solid #335899;
  }

  &:active {
    opacity: 0.6;
  }
}

.closeBtn {
  width: 51px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 0;
  top: 0;

  cursor: pointer;
}

.closeIcon {
  fill: #335899;
  transition: all 0.2s linear;

  &:hover {
    fill: #1f6bad;
  }
}
