.root {
  margin-top: 61px;

  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  a,
  Link {
    margin: 0 5px;
    color: #335899;

    &:hover {
      transition: border-bottom 0.1s linear;
      border-bottom: 2px solid #335899;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.textWrap {
  display: flex;
  flex-direction: column;
  max-width: 900px;
}

.title {
  color: #000;
  font-size: 40px;
  line-height: 82px;

  @include breakpoint(tablet) {
    font-size: 36px;
  }
  @include breakpoint(mobile-m) {
    font-size: 32px;
  }
}

.description {
  color: #000;
  font-size: 20px;
  line-height: 42px;

  @include breakpoint(tablet) {
    font-size: 18px;
    line-height: 36px;
  }
  @include breakpoint(mobile-m) {
    font-size: 16px;
    line-height: 32px;
  }
  @include breakpoint(mobile) {
    font-size: 14px;
    line-height: 28px;
  }
}
