.root {
  width: 100%;
  min-height: 100vh;
  padding: 0 43px;
  margin-bottom: 80px;
}

.title {
  width: 100%;

  color: #000;
  font-size: 89px;
  line-height: 82px;

  @include breakpoint(desktop) {
    font-size: 72px;
  }

  @include breakpoint(tablet) {
    font-size: 62px;
  }

  @include breakpoint(mobile-m) {
    font-size: 48px;
  }

  @include breakpoint(mobile) {
    font-size: 40px;
  }
}

.wrap {
  margin-top: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  column-gap: 40px;
  row-gap: 40px;

  @include breakpoint(mobile-m) {
    margin-top: 45px;
  }

  @include breakpoint(mobile) {
    margin-top: 40px;
  }
}

.titleAll {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 457px;
  height: 207px;
  padding: 15px;

  border-radius: 20px;
  background-color: #335899;
  z-index: 10;

  cursor: pointer;

  color: #fff;
  font-size: 35px;

  @include breakpoint(mobile) {
    font-size: 26px;
  }
}

.titleAll:hover {
  transform: translate3d(10px, -10px, 0);
  transition: transform 0.2s linear;
}

.titleAll:active {
  opacity: 0.6;
}
