.root {
  width: 100%;
  padding: 0 45px;
  margin-bottom: 80px;

  @include breakpoint(mobile) {
    padding: 0 20px;
  }
}

.title {
  width: 100%;
  max-width: 800px;
  margin-bottom: 90px;

  color: #000;
  font-size: 89px;
  line-height: 82px;

  @include breakpoint(desktop) {
    max-width: 700px;

    font-size: 72px;
  }

  @include breakpoint(tablet) {
    margin-bottom: 60px;
    max-width: 600px;

    font-size: 62px;
    line-height: 82px;
  }

  @include breakpoint(mobile-m) {
    max-width: 400px;

    font-size: 40px;
    line-height: 46px;
  }
}

.description,
.phone {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;

  @include breakpoint(desktop) {
    font-size: 28px;
    line-height: 40px;
  }

  @include breakpoint(tablet) {
    font-size: 24px;
  }

  @include breakpoint(mobile-m) {
    font-size: 18px;
    line-height: 36px;
  }
}

.formRoot {
  width: 100%;
}

.formWrap {
  display: flex;
  flex-direction: column;
}

.formWrapClose {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  @include breakpoint(tablet) {
    margin-top: 60px;
  }

  @include breakpoint(mobile) {
    margin: 60px auto 0;
  }
}

.fields {
  width: 100%;
}

.contacts {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;

  @include breakpoint(desktop) {
    font-size: 36px;
  }

  @include breakpoint(tablet) {
    font-size: 32px;
  }

  @include breakpoint(mobile-m) {
    font-size: 30px;
  }
}

.inputWraps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 71px;
  margin-bottom: 50px;

  @include breakpoint(desktop) {
    margin-top: 0;
  }
}

.inputWrap {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 810px;

  &:nth-child(3),
  &:nth-child(4) {
    margin-top: 90px;
  }

  @include breakpoint(desktop-big) {
    max-width: 600px;
  }
  @include breakpoint(desktop) {
    max-width: 500px;
    margin-top: 90px;
  }
}

.wrapForm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.counter {
  font-size: 20px;
  color: #000;
  font-style: normal;
}

.counterLimit {
  color: red;
}

.inputTitle {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;

  @include breakpoint(mobile) {
    font-size: 18px;
  }
}

.input {
  border: none;
  border-bottom: 3px solid #162249;

  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;

  @include breakpoint(mobile) {
    font-size: 18px;
  }

  &:focus {
    outline: none;
  }
}

.span {
  margin-top: 5px;
  color: red;
  font-size: 16px;
}

.textTitle {
  margin-bottom: 35px;

  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;

  @include breakpoint(desktop) {
    font-size: 36px;
  }

  @include breakpoint(tablet) {
    font-size: 32px;
  }

  @include breakpoint(mobile-m) {
    font-size: 30px;
  }
}

.inputWrapText {
  display: flex;
  flex-direction: column;

  transition: all 0.5s ease;
  width: 100%;
}

.fileWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 212px;
  opacity: 1;

  border: 3px dashed #162249;

  @include breakpoint(mobile-m) {
    font-size: 24px;
    height: 150px;
  }
  @include breakpoint(mobile) {
    height: 100px;
  }
  &:active {
    opacity: 0.6;
  }
}

.fileWrapUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 212px;

  border: 3px solid #162249;

  @include breakpoint(mobile-m) {
    font-size: 24px;
    height: 150px;
  }
  @include breakpoint(mobile) {
    height: 100px;
  }

  .fileTextUpload {
    display: block;

    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;

    @include breakpoint(mobile-m) {
      font-size: 24px;
    }
    @include breakpoint(mobile) {
      font-size: 16px;
    }
  }

  .fileText,
  .fileOpen {
    display: none;
    position: absolute;
  }
}

.fileTextUpload {
  display: none;
}

.fileText,
.fileOpen {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;

  @include breakpoint(mobile-m) {
    font-size: 24px;
  }
  @include breakpoint(mobile) {
    font-size: 16px;
  }
}

.file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.fileOpen {
  margin-left: 6px;

  color: #335899;
  cursor: pointer;

  &:hover {
    transition: text-decoration 0.2s linear;
    text-decoration: underline;
  }
  &:active {
    opacity: 0.6;
  }
}

.buttonDisabled {
  margin: 140px 0 50px;
  padding: 15px 110px 20px;
  height: 83px;
  max-width: 420px;

  cursor: pointer;
  border: 0px #335899;
  border-radius: 20px;
  background: #335899;

  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  opacity: 0.8;

  @include breakpoint(mobile-m) {
    font-size: 28px;
    margin: 60px auto 30px;
    padding: 15px 60px 20px;
    height: 75px;
    max-width: 350px;
  }
  @include breakpoint(mobile) {
    padding: 15px 60px 20px;
    height: 70px;
    max-width: 300px;
  }
}

.button {
  opacity: 1;
  background: #335899;

  &:active {
    opacity: 0.6;
  }
}

.policy {
  max-width: 600px;

  color: #162249;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;

  @include breakpoint(mobile-m) {
    font-size: 16px;
  }
  @include breakpoint(mobile) {
    max-width: 300px;
    font-size: 14px;
  }
}

.link {
  color: #335899;

  &:hover {
    transition: border-bottom 0.1s linear;
    border-bottom: 2px solid #335899;
  }
  &:active {
    opacity: 0.6;
  }
}

.formSendBefore {
  display: none;
  height: 800px;
  width: 100%;
}

.formSend {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formSendText {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;

  @include breakpoint(tablet) {
    font-size: 28px;
  }

  @include breakpoint(mobile-m) {
    font-size: 24px;
  }

  @include breakpoint(mobile) {
    font-size: 14px;
  }
}
