.root {
  width: 100%;
  min-height: 100vh;
  padding: 80px 44px;
}

.title {
  width: 100%;

  color: #000;
  font-size: 89px;
  line-height: 82px;

  @include breakpoint(desktop-big) {
    font-size: 89px;
  }

  @include breakpoint(desktop) {
    font-size: 72px;
  }

  @include breakpoint(tablet) {
    font-size: 62px;
  }

  @include breakpoint(mobile-m) {
    font-size: 48px;
  }

  @include breakpoint(mobile) {
    font-size: 40px;
    line-height: 48px;
  }
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-left: 183px;
  padding-right: 174px;
  margin-top: 87px;

  @include breakpoint(desktop-big) {
    padding: 0;
  }

  @include breakpoint(desktop) {
    padding: 0;
    column-gap: 40px;
    margin-left: 20px;
  }

  @include breakpoint(tablet) {
    column-gap: 30px;
  }

  @include breakpoint(mobile-m) {
    margin-top: 40px;
  }

  @include breakpoint(mobile) {
    margin-left: 0;
  }
}
