.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 457px;
  height: 207px;
  padding: 30px;

  cursor: pointer;

  border-radius: 28px;
  background-color: #162249;

  .title {
    margin-bottom: 28px;

    color: #fff;
    font-size: 40px;
  }

  .work {
    color: #fff;
    font-size: 20px;
    line-height: 32px;
  }
}

.root:hover {
  transform: translate3d(10px, -10px, 0);
  transition: transform 0.2s linear;
}

.root:active {
  opacity: 0.6;
}

@include breakpoint(mobile) {
  .root {
    .title {
      font-size: 32px;
    }
    .work {
      font-size: 14px;
    }
  }
}
