.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 457px;
  height: 207px;
  padding: 30px;
  z-index: 10;
  cursor: pointer;
  border-radius: 28px;
  background-color: #162249;

  @include breakpoint(tablet) {
    max-width: 340px;
    height: 180px;
  }

  @include breakpoint(mobile-m) {
    max-width: 457px;
    height: 207px;
  }

  @include breakpoint(mobile) {
    height: 180px;
    border-radius: 20px;
  }
}

.root:hover {
  transform: translate3d(10px, -10px, 0);
  transition: transform 0.2s linear;
}

.root:active {
  opacity: 0.6;
}

.title {
  margin-bottom: 28px;

  color: #fff;
  font-size: 40px;

  @include breakpoint(tablet) {
    font-size: 32px;
  }

  @include breakpoint(mobile-m) {
    font-size: 36px;
  }

  @include breakpoint(mobile) {
    font-size: 26px;
  }
}

.work {
  color: #fff;
  font-size: 20px;
  line-height: 32px;

  @include breakpoint(mobile) {
    font-size: 14px;
  }
}
